body {
	font-family: Prelude Medium, Arial;
	font-size: 13px;
	color: #ababab;
	background-color: #0e0e0e;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.panel {
	background-color: #323232;
	margin: 20px;
}

.sampler-code-panel {
	padding: 0 30px;
}

.sampler-panel {
	padding: 30px;
}

.examples-panel {
	margin-top: 19px;
	overflow: auto;
}

.example {
	padding: 10px 20px;
	border-top: 1px solid #0e0e0e;
}

.code, .sampler-code {
	width: 100%;
}

.sampler-title {
	margin-top: 30px;
	font-size: 15px;
}

.sampler-code {
	margin-top: 6px;
}

.green-input {
	border: 0;
	background-color: green;
}
