body {
	font-family: Arial;
}

div {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.title {
	background: black;
	color: #c0c0c0;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

.code-title {
	padding: 10px 0;
}

.code-select {
	margin: 0 10px;
}

.enyo-fit.code > * {
	left: 10px;
	right: 10px;
}

.theme-fu button.code-make-button {
	background-color: darkgreen;
	color: white;
}

.player {
	background: #eaeaea;
	padding: 30px;
}

.sample-output {
	min-height: 200px;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}