body {
	font-family: Prelude Medium, Arial;
	font-size: 13px;
	color: #ababab;
	background-color: #0e0e0e;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.header {
	background-color: #222;
	text-align: center;
	line-height: 30px;
}

.search-input {
	height: 37px;
	width: 100%;
	margin-left: 0;
	padding-left: 10px;
	border: 0;
	background-color: #484848;
	outline: none;
	font-size: 13px;
	color: #ababab;
}

.search-spinner {
	position: absolute;
	top: 4px;
	right: 4px;
}

.search-button {
	cursor: pointer;
}

.simple-scroller {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.list {
	background: #323232;
	/*overflow: hidden;*/
}

.item {
	height: 50px;
	padding: 0 10px;
	border-bottom: 1px solid #0e0e0e;
	cursor: pointer;
	line-height: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.related-list {
	/*overflow: hidden;*/
	white-space: nowrap;
}

.related-item {
	height: 95px;
	width: 95px;
	margin: 1px;
	cursor: pointer;
}

.youtube-content {
	margin: 50px;
}

.center {
	margin: auto;
}